<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6 p-4">
	{% for review in reviews %}
		{% if review.imageName %}
			<img src="{{ vich_uploader_asset(review, 'imageFile') }}" alt="{{ review.title ?: 'Image d\'avis' }}" class="w-full h-48 object-cover rounded shadow-sm">
		{% endif %}
	{% endfor %}
	{% if reviews|filter(r => r.imageName is not empty)|length == 0 %}
		<p class="text-center col-span-full">Aucune image n’a encore été partagé</p>
	{% endif %}
</div>