<div class="h-64 rounded-lg bg-gray-100">
	<map-user-roadtrips roadtrips='{{ roadtripsMap|raw }}' api-key="{{ google_maps_api_key }}"></map-user-roadtrips>
</div>
<script type="module" src="{{ asset('webcomponents/maps/MapUserRoadtrips.js') }}"></script>
