<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8 py-6 px-8">
	{% for review in photos %}
		<img src="{{ vich_uploader_asset(review, 'imageFile') }}" alt="{{ review.title ?: 'Photo d’un avis' }}" class="w-48 h-48 object-cover aspect-square rounded-xl">
	{% endfor %}
	{% if photos|length == 0 %}
		<p class="text-center col-span-full">Aucune photo disponible</p>
	{% endif %}
</div>
