{% extends 'base.html.twig' %}

{% block title %}Page restaurateur{% endblock %}

{% block body %}

    <h1>Page restaurateur</h1>
    <a href="{{ path('app_restaurant_create') }}">Créer un restaurant</a>
{% endblock %}
