{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}

    <h1>Restaurant</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">{% autoescape false %}{{ message }}{% endautoescape %}</div>
        {% endfor %}
    {% endfor %}
{% endblock %}
