<footer class="w-full flex flex-col items-center justify-center gap-2 bg-paleBlue py-4">
	<div class="flex items-center gap-24 mx-auto">
		<a href="{{path('app_home')}}">
			<img src="{{ asset('images/logo.svg') }}" alt="Logo Gourmy" class="h-24">
		</a>
		<div class="text-blue flex items-center gap-6">
			<a href="">
				<i class="fa-brands fa-instagram text-3xl"></i>
			</a>
			<a href="">
				<i class="fa-brands fa-tiktok text-3xl"></i>
			</a>
		</div>
		<div class="flex gap-10 mx-auto font-light">
			<nav class="flex flex-col gap-2">
				<a href="{{ path('app_charte_restaurateur') }}" class="hover:text-blue">Charte des restaurateurs</a>
				<a href="/" class="hover:text-blue">Mentions légales</a>
				<a href="/" class="hover:text-blue">Politiques de confidentialité</a>
			</nav>
			<nav class="flex flex-col gap-2">
				<a href="/" class="hover:text-blue">CGU</a>
				<a href="/" class="hover:text-blue">CGV</a>
			</nav>
		</div>
	</div>
	<p class="text-orange text-center text-xs">© Copyright Gourmy 2025</p>
</footer>
