{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<section class="relative bg-home bg-cover bg-center min-h-[80vh] flex flex-col items-center justify-center">
		<div class="absolute inset-0 bg-black/40"></div>
		<h1 class="z-10 text-white text-4xl text-center font-medium font-second px-4 mt-4">Votre aventure culinaire sur mesure !</h1>
		<roadtrip-search-form></roadtrip-search-form	
	</section>

	<script type="module" src="{{ asset('webcomponents/roadtrips/RoadtripSearchForm.js') }}"></script>
{% endblock %}
